{% extends 'menu-base.html' %}
{% load static %}
{% load i18n %}

{% block parent_classes %}relative h-screen bg-neutral-800 px-12 text-white{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-stretch absolute top-0 bottom-0 right-0 left-0 mx-6">
    <div class=" flex flex-col items-stretch justfiy-center gap-2">
        {% for language in menu.languages_allowed.all %}
        <a{% if language.rtl %} dir="rtl"{% endif %} href="/{{ language.code }}/{{ request.path|slice:'4:' }}?selected=True" class="text-2xl flex flex-row items-center justify-center gap-2 rounded rounded-md py-3 px-5 bg-neutral-700 transition-all duration-200 hover:bg-neutral-600 animate__animated animate__pulse" style="animation-delay: .{{ forloop.counter0|add:3 }}s;animation-duration: .6s;">
            <img src="{% static 'flags/' %}{{ language.code }}.svg" alt="{{ language.name }} Flag" class="h-6{% if not language.rtl %} order-last{% endif %}" />
            <span{% if language.rtl %} class="mb-1"{% endif %}>{{ language.name }}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}