{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate menu.title %} - {{ menu.resturaunt_name }}</title>

    <!-- Tailwind, jquery -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- set favicon -->
    <link rel="icon" href="{{ menu.logo.url }}" type="image/x-icon">
</head>
<body class="w-screen h-screen flex items-stretch justify-center">
    <div class="p-2 max-w-lg w-full {% block parent_classes %}{% endblock %}" data-theme="dark">
        {% block content %}{% endblock %}
    </div>
</body>
</html>